/* menu.css */

.image-button {
    /* Xóa tất cả style mặc định của JavaFX */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}


.image-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.image-button:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}