/* menu.css */

.root {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: gold;
    -fx-font-size: 48px;
    -fx-font-family: "Serif";
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}

/* Menu buttons */

.button {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: black;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.image-button {
    /* Xóa tất cả style mặc định của JavaFX */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}


.image-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.image-button:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}